# Composer
/vendor/
composer.phar

# PHPUnit
.phpunit.result.cache
phpunit.xml
/coverage/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Node
/node_modules/

# Build / cache
/build/
/var/
*.log
